.services {
    background-image: var(--second-gradient);
}

.swipper-wrapper {
    margin-bottom: 52px;
}

.services__container {
    text-align: center;
}
.services__Subtitle {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: 700;
    margin-bottom: 65px;
    display: block;
}
.services__items {
    font-size: var(--h4-font-size);
    margin-bottom: 15px;
}

.services__description {
    min-height: 175px;
}
.swiper-horizontal > .swiper-pagination-bullets {
    width: auto;
    display: relative;
    display: inline-block;
}

.swiper-horizontal > .swiper-pagination-bullets::before {
    content: '';
    display: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    height: 2px;
    width: 100px;
    background-color: var(--title-color);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets {
    border: 2px solid var(--title-color);
    background-color: var(--container-color);
    z-index: 1;
    position: relative;
    opacity: 1;
    margin-right: 20px;
    transition: all 0.3s var(--transition);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets:not(:last-child) {

    margin-right: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets-active {
    background-color: var(--primary-color);
    width: 13px;
    height: 13px;
    top:2px;
}
